
.header-nav .container-fluid {
    margin: 0;
    padding: 0;
}
.navbar-default {
    background-color:#E2A00E;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    background-color:#E2A00E;
}
.navbar-default .navbar-nav > li > a{
    color: #fff;
    font-weight: bold;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.imagem-logo-topo{
    padding: 25px 120px
}
.container-prod {
    padding: 0;
}
.img-topo-logo-centro {
position: absolute;
margin-left: 162px;
z-index: 9999;
}
.navbar {
    margin-bottom: 0;
    border:none;
}
.navbar-nav > li > a {
    padding-top: 37px;
    padding-bottom: 20px;
}


/* ============= FIM HEADER NAVBAR ================ */




/* ============= SLIDER ================ */
.slider-box {
margin: 0;
padding: 0;
height: auto;
background-color: #fff;
overflow: hidden;
}
.text-slider {
    background-color: #751C2E;
    background-color: rgba(117, 28, 46, 0.73);
    width: 80%;
    margin-left: 10%;
    bottom: 50px;
    position: absolute;
    z-index: 99999;

}
.text-slider h4 {
    color: #fff;
}
.owl-carousel .owl-item img{
    float: left;
}
.text-slider img {
    width: 100%;
}
.text-slider h4 {
    margin: 0;
    padding: 15px 0;
    text-align: center;
}




.row {
    margin: 0;
}

span.busca-por-produto {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
}
.dropdown-search-box{
    background-color: #E2A00E;

}
.dropdown button {
    margin-top: 8px;
}






.content-main {
    background-image: url(../images/bg_home.jpg);

}
.novidades {
    margin-top: 30px;
    margin-bottom: 30px;
}

.stick-novidades {
    position: absolute;
    margin-left: 255px;
    margin-top: 25px;
    z-index: 999;
}
.box-mini-produtos {
    margin: 20px 0;
}
/*.box-mini-produtos {
    background-color: #ed5353;

}*/
.prod-main-img {
    background-color: yellow;
    padding: 0;
}
.prod-main-link {
    background-color: #E2A00E;
}
.prod-main-link p span  {
    display: block;
    color: #fff;
    font-weight: bolder;

    line-height:40px;
}

@media (min-width: 992px){
.box-mini-produtos {
    /*margin-left:11%;*/
}

}

/*@media (max-width: 991px){
 .box-mini-produtos {
    margin:0;
}
.box-mini-produtos .prod-main-img img {
width: 100%;
}
}*/

.newsletter .container-fluid {
    margin: 0;
    padding: 0;
}
.newsletter {

    background-color: #E2A00E;
}


.copyright-fluid{
    background-color: #751C2E;
}
.copyright p {
    color: #fff;
    margin: 10px 0;

}






/*PAGINA PRODUTOS*/

.menu-produtos-main-container {
    padding: 5px 0;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
}
.menu-produtos-main-container-sub {
    padding: 5px 0;
    margin-top: 5px;
    margin-bottom: 5px;
}
.menu-prdoutos-main {
    padding: 20px 0;

}
.menu-prdoutos-main ul {
    list-style:none;
    margin: 0;
    padding: 0;
}
.menu-prdoutos-main li {
    display: inline;
}
.menu-prdoutos-main li a {
    padding: 8px;
    color: #E2A00E;
    border: 1px solid #E2A00E;
    border-radius: 7px;
}
.quantidade-itens {
    border:1px solid #E2A00E;
    padding-top: 10px;

}
.quantidade-itens p {
    margin:0px 0px 5px;
}
@media (min-width: 992px){
    .produtos-box{
        width: 48%;
        margin: 1%;
    }
}
@media (min-width: 768px){
    .produtos-box{
        width: 48%;
        margin: 1%;
    }
}
@media (max-width: 767px){
    .produtos-box{

        margin-top: 1%;
        margin-bottom: 1%;
    }
}
.produtos-box {
    background-color: #EAEAEA;
    padding-left: 0;
    padding-right: 0;
    border:1px solid #DBD0D0;
    box-shadow: 0px 1px 2px #000;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33);
}
.texto-e-btn a.btn-go {
    text-align: center;
border: 2px solid #E2A00E;
padding: 2px 15px;
border-radius: 10px;
font-size: 16px;
font-family: "lato",verdana;
line-height: 50px;
color: #E2A00E;
}
.texto-e-btn a.ver-evento {
        font-size: 9px;
    text-transform: uppercase;
    padding: 4px;
    background-color: #E2A00E;
    border: 1px solid #F5F5F5;
    color: #FFF;
}
.banner-pgs {
    padding-left: 0;
    padding-right: 0;
}









/* ======= AEMPRESA ========== */
.aempresa-full {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../images/bg_empresa.jpg);
}
.aempresa-box h1 {
    color: #E2A00E;
}
.aempresa-box p {
    color: #fff;
}
.telefones {
   border: 2px solid #E2A00E;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.tels p{
    color: #fff;
    margin:6px;
}







/* ========== SINGLE =========== */
.single-produtos{
    padding-top: 10px;
    padding-bottom: 50px;
}
.single-produtos a{
border: 2px solid #E2A00E;
padding: 2px 15px;
border-radius: 10px;
font-size: 16px;
font-family: "lato",verdana;
line-height: 50px;
color: #E2A00E;
}